@tailwind base;
@tailwind components;
@tailwind utilities;

.orderedTable tr:nth-child(2n+1) {
  background-color: #DDBDD5;
}
.orderedTable tr:nth-child(2n+2) {
  background-color: #F7EBEC;
}
th {
  background: #AC9FBB;
  position: sticky;
  top: 0;
}
td {
  border-bottom: 1px solid #1D1E2C;
}
#search-box {
  width: 50%;
  height: 7em;
}
#search-box {
  width: 350px;
  height: 7em;
}
h1 {
  font-size: x-large;
}
#reset-button {
  border: 1px solid #1D1E2C;
  border-radius: 4px;
  float: right;
}